@font-face {
	font-family: 'firs';
	src: url('../public/fonts/TTFirsNeue-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'firs';
	src: url('../public/fonts/TTFirsNeue-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'firs';
	src: url('../public/fonts/TTFirsNeue-DemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'firs';
	src: url('../public/fonts/TTFirsNeue-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'firs';
	src: url('../public/fonts/TTFirsNeue-Light.ttf');
	font-weight: 300;
	font-style: normal;
}