@import "globals";

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	max-width: 100%;
	color: var(--black);
}

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

[class*="ymaps-2-1"][class*="-ground-pane"] {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

button {
	border: none;
	outline: none;
	display: block;
	font-family: var(--font-family);
}

fieldset, input, textarea {
	font-family: var(--font-family);
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
}

body .range-slider {
	.range-slider__range {
		background-color: var(--grey-light1);
	}

	.range-slider__thumb {
		width: 14px;
		height: 14px;
		background-color: var(--red);
		transition: box-shadow .3s;

		&:hover {
			box-shadow: 0px 8px 16px rgba(226, 42, 42, 0.2), inset 0px 6px 12px rgba(255, 255, 255, 0.26);
		}
	}
}